/* Style sheet created by: Jon Yen, 2/1/2018 */
/* The lines do not line up with the instructions in the book, please forgive that...*/

/* Style for body specifies a background color */
body {
	background-color: #FFFF99;
}

/*style to create a fluid image*/
img{
	max-width: 100%;
}

/*2/15/2018 NEW: Styles 4 mobile layout*/
/* Style for container centers the page and sets the element width */

#container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for header specifies top and botom margins, background color, rounded border, shadow, and alignment */
header{
	margin-top: 0.2em;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border-radius: 0.5em;
	box-shadow: 12px 12px 12px #404040;
	text-align: center;
}

/* Style for nav specifies text properties */
nav{
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
}

/*Style specifies padding and margins for unordered list*/
nav ul{
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/*Style for the nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation*/
nav li{
	background-color: #009933;
	border-radius: 2em;
	list-style-type: none;
	margin: 0.3em;
	padding:0.4em;
}

/*style changes navigation link text color to white and removes the underline*/
nav li a{
	color: #FFFFFF;
	text-decoration: none;
}

/* Style hides the desktop class */
.desktop{
	display: none;
}

/* Style for main specifies a block display, text properties, margins, padding, rounded corners, and border properties */
main{
	display: block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 20px;
	border-radius: 10px;
	background-color: #FFFFFF;
	border-top: solid 0.2em #009933;
	border-bottom: solid 0.2em #009933;
}

/* Style for footer specifies font size, txt alignment, and top margin */
footer{
	font-size: .70em;
	text-align: center;
	margin-top: 2em;	
}

/* Style rule specifies to not display the equip class*/
.equip{
	display: none;
}

/*Style hides the tablet class*/
.tablet{
	display: none;
}